
  .background_color{
    background-color: #000C24;
    
  }

  .offcanvas-body{
    background-color:   rgba(18,28,123);
    -webkit-tap-highlight-color:transparent;
  }

  .offcanvas-header{
    background-color: #121C7B;
    
  }

  .text{
    color: white;
    display: flex;
    justify-content: start;
  }
 
  .text:hover{
    color:#000C24 ;
  }
   
 
  .navbar-light .navbar-toggler{
    border: none;
    
  }